@import url('https://fonts.googleapis.com/css?family=Lato');

body {
font-family: 'Lato', sans-serif;
font-size:16px;
line-height:1.5;
}
.navbar {
    padding: 10px;
    background: #fff;
}

.navbar-brand {
    padding: 0 15px;
}
.navbar-header {
    height:120px;
}
.nav:before {
    content:url('../img/up.png');
    margin-left: -40px;
}
.nav:after {
    content:url('../img/down.png');
    margin-left: -35px;
}
.nav {
        margin-top: 11px;
}
.nav>li>a {
    text-transform: uppercase;
    
    font-weight: bold;
    padding: 15px 8px 15px 13px;
    text-align: center;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.navbar-nav>li:first-child:before {
    content: '';
}
.navbar-nav>li:before {
    content: '\2022';
    float: left;
    font-size: 20px;
    color: #007d32;
    padding-top: 8px;
    margin-left: -2px;
}
.navbar-toggle .icon-bar {
    background-color: #333;
    margin: 3px auto;
}
.carousel {
    margin-top:150px;
}
section {
    margin:2em 0;
    padding:1.5em 0;
}
.h2, h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin: 1em;
}
h2:before { 
    display: block;
    content:url('../img/hup.png');
    
}
h2:after { 
    display: block;
    content:url('../img/hdown.png');
}
#recipes h2:before { 
    display: block;
    content:url('../img/ghup.png');
    
}
#recipes h2:after { 
    display: block;
    content:url('../img/ghdown.png');
}
.h3, h3 {
    font-size: 20px;
    font-weight: bold;
    color: #018136;
}
h4 {
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
}
.center {
     text-align: center;
}
.arrow {
    margin: 1.5em;
}
.grey {
    background-color: #f5f5f5;
}

.thumbnail {
    background:transparent;
    border:none;
}

.grey .thumbnail img {
    border: 1px solid #8abf00;
    padding: 1em;
}

dt {
    font-weight: bold;
    color: #018136;
}
dd, dt {
    line-height: 1.8;
}

.thumb .thumbnail {
    background: #005c0f;
    border: none;
    padding:0;
}

.thumb img:hover {
    mix-blend-mode: multiply;
}
#recipes {
    height: 465px;
    background: url('../img/zk_recipe.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    background-attachment: fixed;
    background-position: center;    
}
#recipes h2 {
    color: #fff;
}

.grey .col-md-4 h3 {
    color: #868686;
    font-weight: 300;
    padding: 1.5em;
    text-transform: uppercase;
}
.g {
    text-align:center;
}
.g h3 {
    color: #868686;
    text-align:center;
    margin-bottom:1.5em;
}
.g img {
        display: inline-block;
}
.hb {
    background-image: url("../img/hr.png");
    background-repeat: repeat-x;
    height:18px;
}
.img-center {
    margin: 0 auto;
}

.site-scroll-top {
    z-index: 999;
    position: fixed;
    display: none;
    background: #81bc00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    bottom: 30px;
    right: 30px;
    color: #fff;
    font-size: 18px;
}

footer {
   padding:3em 0;
   border-bottom:40px solid #018136;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-md-15 {
    width: 20%;
    float: left;
    display:inline-block;
}
.header-zk {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/zk_header.jpg");
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 160px;
}

.h2, h2, .arrow {
  color: #038138;
}

a {
  color: #038138;
  font-weight: 600;
}

a:hover {
  color: #013618;
  text-decoration: none;
}

.nav > li > a {
  color: #5d5b5c;
}

.nav > li > a:focus, .nav > li > a:hover {
  color: #9d9b9c;
}

.thumbnail img, .thumb img {
  transition: all 1s ease-in-out;
}

.thumbnail img:hover, .thumb img:hover {
  transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
}

@media (min-width: 1200px) {
    .container {
        width: 1070px;
    }
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    height: 70px;
    }
    .navbar-brand>img {
    width: 60%;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .nav:before, .nav:after {
        content:'';
    }

    .navbar-nav>li:before {
        content: '';
    }
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 768px) {
    .navbar-toggle {
    font-weight: bold;
    }

     h4 {font-size: 16px;}
        #recipes h2:before, #recipes h2:after, h2:before, h2:after {
            content: "";
        }
    
    #recipes {
    height: 665px;
    }
    .col-md-15 {
    width: 50%;
    }
    .site-scroll-top{
        display:none !important;
    }
}


